/*
Chao Lin
Maggie Koella
Liz Zuniga
*/

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v10/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v10/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body{
    background: url('road.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container{
	width:100%;
	
}

#dheader, #pheader{
	width:100%;
	height:10%;
	top:0;
        left: 0;
	position: fixed;
}

#pheader{
	background:#A7DBD8;
       
}
#dheader{
	background:#E0E4CC;
        
}

.title{ 
        margin:1% 0em 0em 2em;
        color:#FA6900;
	float:left;
	font-family: 'Raleway',sans-serif;
	font-weight:bold;
	letter-spacing: 0.2em;
	font-size:2em;
}

.nav{   margin:1% 4em 1em 1em;
	float:right;
	font-family: 'Raleway',sans-serif;	
}

li{
	list-style: none;
	float:left;
	margin-left: 65px;
	font-family: 'Raleway',sans-serif;
	font-weight:bold;
}

a{
	text-decoration: none;
        color:#F38630;
}
/* Does the header do anything?*/


#pFormContainer{
	background: #A7DBD8;
	padding:1.25em, 1.25em,1.25em,1.25em;
	width:30em;
	border-radius: 1em;
	float:right;
	margin: 7em 1em 1em 1em;
	
}

#dFormContainer{
	background: #E0E4CC;
	padding:1.25em, 1.25em,1.25em,1.25em;
	width:30em;
	border-radius: 1em;
	float:left;
	margin: 7em 1em 1em 1em;
}

#dinstruContainer{
	width:40%;
	height:100%;
	float:right;
	margin:10% 5% 5% 5%;
}

#pinstruContainer{
	width:40%;
	height:100%;
	float:left;
	margin:10% 5% 5% 5%;
}

.instruction{
	margin-top: 1em;
	font-size: 5em;
        color:white;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 0 3px black;
}

#pForm{
	font-family: 'Raleway',sans-serif;	
	font-size:15px;
        margin-left: 3em;
}

#dForm{
	margin-left: 20px;
	font-family: 'Raleway',sans-serif;	
	font-size:15px;
}

.submit{
	width:200px;
	height:30px;
	border-radius: 10px;
	margin:0px auto;
	background: #F38630;
	color:white;
}

input[type=text],input[type=date]{
	width:200px;
	height:30px;
	border-radius: 5px;
	font-size: 13px;
}

select{
	width:200px;
	height:30px;
}
